<form class="k-form-inline" style="width: 700px">

  <label class="k-form-field">
    <span class="caption">Name:</span>
    <input class="k-textbox" [(ngModel)]="engAddr.name" name="enName">
    <input class="k-textbox" [(ngModel)]="rusAddr.name" name="ruName">
    <input class="k-textbox" [(ngModel)]="uaAddr.name" name="uaName">
  </label>

  <label class="k-form-field">
    <span class="caption">Country:</span>
    <input class="k-textbox" [(ngModel)]="engAddr.country" name="enCountry">
    <input class="k-textbox" [(ngModel)]="rusAddr.country" name="ruCountry">
    <input class="k-textbox" [(ngModel)]="uaAddr.country" name="uaCountry">
  </label>

  <label class="k-form-field">
    <span class="caption">District:</span>
    <input class="k-textbox" [(ngModel)]="engAddr.district" name="enDistrict">
    <input class="k-textbox" [(ngModel)]="rusAddr.district" name="ruDistrict">
    <input class="k-textbox" [(ngModel)]="uaAddr.district" name="uaDistrict">
  </label>

  <label class="k-form-field">
    <span class="caption">City:</span>
    <input class="k-textbox" [(ngModel)]="engAddr.city" name="enCity">
    <input class="k-textbox" [(ngModel)]="rusAddr.city" name="ruCity">
    <input class="k-textbox" [(ngModel)]="uaAddr.city" name="uaCity">
  </label>

  <label class="k-form-field">
    <span class="caption">Street:</span>
    <input class="k-textbox" [(ngModel)]="engAddr.street" name="enStreet">
    <input class="k-textbox" [(ngModel)]="rusAddr.street" name="ruStreet">
    <input class="k-textbox" [(ngModel)]="uaAddr.street" name="uaStreet">
  </label>

  <label class="k-form-field">
    <span class="caption">Flat:</span>
    <input class="k-textbox" [(ngModel)]="engAddr.flat" name="flat">
  </label>

  <label class="k-form-field">
    <span class="caption">Index:</span>
    <input class="k-textbox" [(ngModel)]="engAddr.index" name="index">
  </label>
</form>
