<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">


      <div class="card" style="width: 800px">
        <div class="card-block">

          <form class="k-form-inline">
            <legend>{{user.username}} Details</legend>
            <label class="k-form-field">
              <span class="caption">Username:<span class="k-required">*</span></span>
              <input class="k-textbox" [(ngModel)]="user.username" name="name" placeholder="Name"/>
            </label>

            <label class="k-form-field">
              <span class="caption">Birthday:<span class="k-required">*</span></span>
              <kendo-datepicker name="birthday" [format]="'dd.MM.yyyy'"></kendo-datepicker>
            </label>


            <label class="k-form-field">
              <span class="caption">Full Name Eng:<span class="k-required">*</span></span>
              <input class="k-textbox" [(ngModel)]="user.personData.fullNameEng" name="engName" placeholder="Name"/>
            </label>

            <label class="k-form-field">
              <span class="caption">Full Name Rus:<span class="k-required">*</span></span>
              <input class="k-textbox" [(ngModel)]="user.personData.fullNameRus" name="rusName" placeholder="Name"/>
              <button kendoButton (click)="trRusName()">tr</button>
            </label>

            <label class="k-form-field">
              <span class="caption">Full Name Ua:<span class="k-required">*</span></span>
              <input class="k-textbox" [(ngModel)]="user.personData.fullNameUa" name="uaName" placeholder="Name"/>
            </label>


            <label class="k-form-field">
              <span class="caption">Tax number:<span class="k-required">*</span></span>
              <input class="k-textbox" [(ngModel)]="user.personData.taxNumber" name="taxNumber" placeholder="Name"/>
            </label>


            <label class="k-form-field">
              <span class="caption">Usd account:</span>
              <input class="k-textbox" [(ngModel)]="user.personData.usdAcc.account" name="asdAccount" placeholder="Name"
                     disabled="true"/>
              <button kendoButton>Edit</button>
            </label>

            <label class="k-form-field">
              <span class="caption">Eur account:</span>
              <input class="k-textbox" [(ngModel)]="user.personData.eurAcc.account" name="eurAccount" placeholder="Name"
                     disabled="true"/>
              <button kendoButton>Edit</button>
            </label>

            <label class="k-form-field">
              <span class="caption">Uah account:</span>
              <input class="k-textbox" [(ngModel)]="user.personData.uahAcc.account" name="uahAccount" placeholder="Name"
                     disabled="true"/>
              <button kendoButton>Edit</button>
            </label>

          </form>
        </div>
      </div>
      <div style="height: 50px"></div>
      <div>
        <app-address-editor [engAddr]="user.personData.engAddr" [rusAddr]="user.personData.rusAddr"
                            [uaAddr]="user.personData.uaAddr"></app-address-editor>
      </div>

      <div>
        <button kendoButton [primary]="true" routerLink="/users">Back</button>
        <button kendoButton (click)="submitData()">Submit</button>
        <button kendoButton routerLink="/idocs/{{user.id}}">Documents</button>
      </div>


    </div>
    <div class="col-md-4" style="margin-left: 10px">
      <app-idoc-list [userId]="user.id"></app-idoc-list>
    </div>
  </div>
</div>
