<label class="caption"> Documents:</label>
<ul >
  <li *ngFor="let doc of docs" (click)="onSelect(doc)">
    <span>{{doc.id}}</span> {{doc.name}}
  </li>
</ul>

<div>
  <kendo-dropdownbutton [data]="listItems" (itemClick)="createNewDocument($event)">Create document</kendo-dropdownbutton>
</div>
