<div class="container-fluid">


  <div class="row">
  <div class="col-md-6">
    <div class="card">

      <div class="card-block">

        <form class="k-form-inline">
          <label class="k-form-field">
            <span class="caption">Doc Name:<span class="k-required">*</span></span>
            <input class="k-textbox" [(ngModel)]="doc.name" name="name" placeholder="Name" required/>
            <button class="generateNameB" kendoButton (click)="generateName()">Generate</button>
          </label>

          <label class="k-form-field">
            <span class="caption">Date:<span class="k-required">*</span></span>
            <kendo-datepicker name="date" [(ngModel)]="doc.date" [format]="'dd.MM.yyyy'" (ngModelChange)="onDate($event)"></kendo-datepicker>
          </label>

          <label class="k-form-field" for="currency" *ngIf="showPrice">
            <span class="caption">Price:<span class="k-required">*</span></span>
            <kendo-numerictextbox [(ngModel)]="doc.price.value" name="value" [format]="'n0'"></kendo-numerictextbox>
            <kendo-dropdownlist id="currency" [data]="listItems" name="currency" style="width: 70px" [(ngModel)]="doc.price.currency"></kendo-dropdownlist>
          </label>


          <label class="k-form-field" *ngIf="showFromDate">
            <span class="caption">From Date:<span class="k-required">*</span></span>
            <kendo-datepicker name="fromDate" [(ngModel)]="doc.fromDate" [format]="'dd.MM.yyyy'"></kendo-datepicker>
          </label>

          <label class="k-form-field" *ngIf="showToDate">
            <span class="caption">To Date:<span class="k-required">*</span></span>
            <kendo-datepicker name="toDate" [(ngModel)]="doc.toDate" [format]="'dd.MM.yyyy'"></kendo-datepicker>
          </label>

          <div>
            <button kendoButton (click)="onButtonClick()" [primary]="true">Back</button>
            <button kendoButton (click)="onSubmit()">Submit</button>
          </div>

        </form>

        <div class="example-col">
          <button kendoButton (click)="render()" [primary]="true" *ngIf="!isNew">Build</button>
          <button kendoButton (click)="createInvoice()" *ngIf="!isNew && showCreateInvoice">Create Invoice</button>
          <button kendoButton (click)="createOrEditAcceptance()" *ngIf="!isNew && showCreateAcceptance">Edit Acceptance</button>
          <button kendoButton *ngIf="!opened && !isNew && isInvoice" (click)="open()">Schedule</button>

        </div>

        <div style="margin-top: 20px">
          <a href="{{fileUrl}}" download>{{filename}}</a>
          <button kendoButton (click)="deleteFile()">X</button>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-4" *ngIf="showInvoices">
    <label class="caption">Invoices:</label>
    <ul>
      <li *ngFor="let ch of doc.children" (click)="onSelectInvoice(ch)">
        <span>{{ch.id}}</span>{{ch.name}}
      </li>
    </ul>
  </div>

  </div>

  <div class="row  col-md-6" *ngIf="!isNew && isInvoice">

    <div class="card" style="margin-top: 20px; width: 100%;">
      <div class="card-block" style="width: 100%;">
        <label>Info for payment:</label><br>

        <label class="k-form-field" style="width: 100%">
          <span class="caption">Name:</span>
          <input class="k-textbox" value="{{infoBlock.name}}" disabled="true" style="width: 250px"/>
        </label>

        <label class="k-form-field" style="width: 100%">
          <span class="caption">Acc:</span>
          <input class="k-textbox" value="{{infoBlock.acc}}" disabled="true" />
        </label>

        <label class="k-form-field" >
          <span class="caption">Dest:</span>
          <textarea class="k-textarea" value="{{infoBlock.dest}}" disabled="true" ></textarea>
        </label>

        <label class="k-form-field" >
          <span class="caption">Addr:</span>
          <textarea class="k-textarea" value="{{infoBlock.addr}}" disabled="true"></textarea>
        </label>

      </div>
    </div>
  </div>
  <kendo-dialog title="Edit schedule settings:" *ngIf="opened" (close)="close('cancel')">
    <p style="margin: 30px; text-align: center;">Are you sure you want to continue?</p>
    <kendo-dialog-actions>
      <button kendoButton (click)="close('no')">No</button>
      <button kendoButton (click)="close('yes')" primary="true">Yes</button>
    </kendo-dialog-actions>
  </kendo-dialog>
</div>
